registry=https://registry.npmjs.org/
@ocloud:registry=https://packages.aliyun.com/5efc25452c41c1ea2703b27c/npm/npm-registry/
# 阿里云效私有镜像源token
//packages.aliyun.com/5efc25452c41c1ea2703b27c/npm/npm-registry/:_authToken=d5c85f57-66f9-4fe3-828d-5310c6f3461d
#自动安装npm依赖匹配关系
save-prefix="^"
#自动检测node版本是否符合package.json配置
engine-strict=true
